<html>
<body align="middle">
    <h2>@ViewBag.Greeting </h2>
    <h2>Welcome To the Store</h2>
    <a asp-action="ProductList"><h2><b>Click here</b></h2>
    <b></b></a>  To View the Latest Product.
</body>
</html>